<footer class="site-footer h-card">
<data class="u-url" href="#"></data>

<div class="wrapper">

<h2 class="footer-heading"></h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name">Email</li><li><a class="u-email" href="mailto:robert.willis010@gmail.com">robert.willis010@gmail.com</a></li></ul>
  </div>

  <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/wr125"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">https://github.com/wr125</span></a></li></ul>
</div>

  <div class="footer-col footer-col-3">
    <p>Welcome to my blog post.</p>
  </div>
</div>

</div>

</footer>
